
.DS_Store
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/.filecache
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/app.dill
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/App.framework/App
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/debug_ios_bundle_flutter_assets.stamp
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/debug_universal_framework.stamp
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/flutter_assets.d
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/gen_localizations.stamp
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/iphone_framework
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/kernel_snapshot.d
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/kernel_snapshot.stamp
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/outputs.json
find_fund/.dart_tool/flutter_build/76bd98742b8f2137d5b43affce80823b/simulator_framework
find_fund/.dart_tool/package_config.json
find_fund/.idea/libraries/Dart_SDK.xml
find_fund/.idea/libraries/KotlinJavaRuntime.xml
find_fund/.idea/modules.xml
find_fund/.idea/runConfigurations/main_dart.xml
find_fund/.idea/workspace.xml
find_fund/.metadata
find_fund/.packages
find_fund/android/app/build.gradle
find_fund/android/app/src/debug/AndroidManifest.xml
find_fund/android/app/src/main/AndroidManifest.xml
find_fund/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
find_fund/android/app/src/main/kotlin/com/example/find_fund/MainActivity.kt
find_fund/android/app/src/main/res/drawable/launch_background.xml
find_fund/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
find_fund/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
find_fund/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
find_fund/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
find_fund/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
find_fund/android/app/src/main/res/values/styles.xml
find_fund/android/app/src/profile/AndroidManifest.xml
find_fund/android/build.gradle
find_fund/android/find_fund_android.iml
find_fund/android/gradle.properties
find_fund/android/gradle/wrapper/gradle-wrapper.jar
find_fund/android/gradle/wrapper/gradle-wrapper.properties
find_fund/android/gradlew
find_fund/android/gradlew.bat
find_fund/android/local.properties
find_fund/android/settings.gradle
find_fund/build/eb38c95a12354bb5fd8e15290c3e5c7f/gen_localizations.stamp
find_fund/build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
find_fund/build/ios/Debug-iphonesimulator/Runner.app/_CodeSignature/CodeResources
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppFrameworkInfo.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20@3x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon20x20~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29@3x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon29x29~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40@3x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon40x40~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@2x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon60x60@3x.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon76x76~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Assets.car
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib/objects-13.0+.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib/runtime.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib/objects-13.0+.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib/runtime.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib/objects-13.0+.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib/runtime.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib/objects-13.0+.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib/runtime.nib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/App
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.ttf
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Info.plist
find_fund/build/ios/Debug-iphonesimulator/Runner.app/PkgInfo
find_fund/build/ios/Debug-iphonesimulator/Runner.app/Runner
find_fund/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftdoc
find_fund/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64-apple-ios-simulator.swiftmodule
find_fund/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftdoc
find_fund/build/ios/Debug-iphonesimulator/Runner.swiftmodule/x86_64.swiftmodule
find_fund/build/ios/iphonesimulator/Runner.app/_CodeSignature/CodeResources
find_fund/build/ios/iphonesimulator/Runner.app/AppFrameworkInfo.plist
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon20x20@2x~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon20x20@3x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon20x20~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon29x29.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon29x29@2x~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon29x29@3x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon29x29~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon40x40@2x~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon40x40@3x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon40x40~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon60x60@2x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon60x60@3x.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon76x76@2x~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon76x76~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/AppIcon83.5x83.5@2x~ipad.png
find_fund/build/ios/iphonesimulator/Runner.app/Assets.car
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib/objects-13.0+.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/01J-lp-oVM-view-Ze5-6b-2t3.nib/runtime.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/Info.plist
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib/objects-13.0+.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/LaunchScreen.storyboardc/UIViewController-01J-lp-oVM.nib/runtime.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib/objects-13.0+.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/BYZ-38-t0r-view-8bC-Xf-vdC.nib/runtime.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/Info.plist
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib/objects-13.0+.nib
find_fund/build/ios/iphonesimulator/Runner.app/Base.lproj/Main.storyboardc/UIViewController-BYZ-38-t0r.nib/runtime.nib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/_CodeSignature/CodeResources
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/App
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/AssetManifest.json
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/FontManifest.json
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/fonts/MaterialIcons-Regular.ttf
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/isolate_snapshot_data
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/kernel_blob.bin
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/NOTICES
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/flutter_assets/vm_snapshot_data
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/App.framework/Info.plist
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/_CodeSignature/CodeResources
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Flutter
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/icudtl.dat
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/Flutter.framework/Info.plist
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCore.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreFoundation.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftCoreGraphics.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDarwin.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftDispatch.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftFoundation.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Frameworks/libswiftObjectiveC.dylib
find_fund/build/ios/iphonesimulator/Runner.app/Info.plist
find_fund/build/ios/iphonesimulator/Runner.app/PkgInfo
find_fund/build/ios/iphonesimulator/Runner.app/Runner
find_fund/build/ios/Runner.build/Release-iphoneos/Runner.build/dgph
find_fund/find_fund.iml
find_fund/ios/Flutter/.last_build_id
find_fund/ios/Flutter/App.framework/App
find_fund/ios/Flutter/App.framework/flutter_assets/AssetManifest.json
find_fund/ios/Flutter/App.framework/flutter_assets/FontManifest.json
find_fund/ios/Flutter/App.framework/flutter_assets/fonts/MaterialIcons-Regular.ttf
find_fund/ios/Flutter/App.framework/flutter_assets/isolate_snapshot_data
find_fund/ios/Flutter/App.framework/flutter_assets/kernel_blob.bin
find_fund/ios/Flutter/App.framework/flutter_assets/NOTICES
find_fund/ios/Flutter/App.framework/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
find_fund/ios/Flutter/App.framework/flutter_assets/vm_snapshot_data
find_fund/ios/Flutter/App.framework/Info.plist
find_fund/ios/Flutter/AppFrameworkInfo.plist
find_fund/ios/Flutter/Debug.xcconfig
find_fund/ios/Flutter/Flutter.framework/_CodeSignature/CodeResources
find_fund/ios/Flutter/Flutter.framework/Flutter
find_fund/ios/Flutter/Flutter.framework/Headers/Flutter.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterAppDelegate.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterBinaryMessenger.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterCallbackCache.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterChannels.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterCodecs.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterDartProject.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterEngine.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterHeadlessDartRunner.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterMacros.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterPlatformViews.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterPlugin.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterPluginAppLifeCycleDelegate.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterTexture.h
find_fund/ios/Flutter/Flutter.framework/Headers/FlutterViewController.h
find_fund/ios/Flutter/Flutter.framework/icudtl.dat
find_fund/ios/Flutter/Flutter.framework/Info.plist
find_fund/ios/Flutter/Flutter.framework/Modules/module.modulemap
find_fund/ios/Flutter/Flutter.podspec
find_fund/ios/Flutter/flutter_export_environment.sh
find_fund/ios/Flutter/Generated.xcconfig
find_fund/ios/Flutter/Release.xcconfig
find_fund/ios/Runner.xcodeproj/project.pbxproj
find_fund/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
find_fund/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
find_fund/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
find_fund/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
find_fund/ios/Runner.xcworkspace/contents.xcworkspacedata
find_fund/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
find_fund/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
find_fund/ios/Runner/AppDelegate.swift
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
find_fund/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
find_fund/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
find_fund/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
find_fund/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
find_fund/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
find_fund/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
find_fund/ios/Runner/Base.lproj/LaunchScreen.storyboard
find_fund/ios/Runner/Base.lproj/Main.storyboard
find_fund/ios/Runner/GeneratedPluginRegistrant.h
find_fund/ios/Runner/GeneratedPluginRegistrant.m
find_fund/ios/Runner/Info.plist
find_fund/ios/Runner/Runner-Bridging-Header.h
find_fund/pubspec.lock
find_fund/test/widget_test.dart
